*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    background-color: gray;
    /* margin-top: 20px; */
    padding: 20px ;
    justify-content: space-around;
    align-items: center;
}
.menus{
    list-style: none;
    gap:15px;
    display: flex;
    font-size: 17px;
    font-style: italic;
}
.banner-container{
    height: 100vh;
    background-image: url('./asset/image/background.jpg'),
    linear-gradient(rgb(63, 63, 65),rgb(77, 77, 78));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    display: flex;

}
.banner-info{
    /* display: flex; */
}
.primary{
    color: red;
}
.primary-des{
    color: white;
    font-weight: bold;
    font-size: 17px;
    /* text-align: center; */
    padding: 10px;
    width: 50%;
    margin: auto;
}
.btn{
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
}
.bg-red{
    background-color: red;
}
.service-container{
    height: 100vh;
    background-image: url('./asset/image/footer-bg.png'),
    linear-gradient(rgb(57, 57, 61),rgb(69, 69, 73));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.icon{
    width: 70px;
    margin-bottom: 20px;
}
.box{
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 30px;
    background-color: white;
    color: black;
    border-radius: 5px;
}
.left-side-container{
    color: white;
}
.service-des{
    width: 50%;
}
.first-two-box{
    display: flex;
    gap: 5px 10px;
    margin-top: 10px;
}
.aut-img{
    height: 70px;
    font-weight: 70px;
    border-radius: 35px;
}
.author-container{
    display: flex;
}